.button {
    padding: 12px 24px;                  
    font-size: 16px;                     
    font-weight: bold;                 
    text-transform: uppercase;          
    background-color: #3498db;          
    color: white;                      
    border: none;                        
    border-radius: 8px;                 
    cursor: pointer;                   
    transition: background-color 0.3s, transform 0.2s ease; 
    display: flex;
    position: relative;
    top : 20vh ;
    right : 20vw ;
    
  }
  
  /* Hover effect */
  .button:hover {
    background-color: #2980b9;           
    transform: translateY(-4px);          
  }
  
  /* Active (clicked) state */
  .button:active {
    transform: translateY(2px);          
  }
#start{
    position: absolute;
    left: 7vw;
    top :0;
    width:100px;
}
input{
    position: absolute;
    left: 0;
    top :0;
    width:6.5vw;
    height: 4vh;

}